*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#wrapper{
    background-image: url(image/marblebackground.jpg);
    box-shadow: 10px 10px 10px 10px #8a0d47;
    margin: 100px auto 100px auto;
    min-width: 1300px;
    max-width: 2000px;
    width: 80%;
}
body{
    background-color: #f3bccc;
}
.img_border{
    border: 5px black solid;
}
.icon_size a img{
    height: 40px;
    width: 40px;
}
nav li, nav a{
    font-weight: bold;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 5px;
}
nav{
    padding: 5px 10px;
    background-color: #AD507C;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #C7FFF8;
}
.nav_links li a:visited {
    color: #FFF4D1;
  }
.horizontal_bold{
    border:#7D093F solid;
}
#header_name{
    font-size: 2em;
    margin: 15px 5px 15px 0px;
}
#header_logo{
    margin: 10px 0px;
}
footer{
    font-style: italic;
    font-size: 1em;
    align-items: center;
    padding: 20px;
    background-color: #AD507C;
    color: #edf0f1;
}
footer li, footer a{
    color: #edf0f1;
    padding: 10px;
}

