main{
    margin: 40px;
    padding: 20px;
}
.main_bg{
    background-image: url(image/pinkbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pink_bg{
    background-color: #ffb0bc;
    padding: 15px;
}
.header_background{
    background-color:#7D093F;
    color: white;
    padding: 10px;
}
.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text_center{
    text-align: center;
}
.side_by_side li{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 20px;
}
.side_by_side{
    display: flex;
}
.side_by_side a{
    text-decoration: none;
}
#border_bottom{
    border-bottom:#7D093F dashed;
    font-size: 1.5em;
}

/*---- index.html  (start) ----*/
.links_style p{
    padding: 15px 20px;
    background-color: #D5CBF6;
    color: #42219C;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.15em;
}
.links_style p:hover{
    background-color: #ffcdb3;
    color: #b10678;
}
/*---- index.html  (end) ----*/


/*---- membership_TC.html  (start) ----*/
ol li{
    list-style-type: lower-alpha;
    font-size: 0.9em;
}
/*---- membership_TC.html  (end) ----*/


/*---- contact_us.html  (start) ----*/
#contact_header{
    padding: 140px;
    background-image: url(image/marblebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wordings_background{
    background-color: white;
    padding: 5px; 
    box-shadow: 10px 10px 10px #7D093F;
}
#contact_font li{
    list-style: disc;
} 
#img_resize{
    height: 80%;
    width: 70%;
}
.font_small{
    font-size: 0.8em;
}
/*---- contact_us.html  (end) ----*/


/*---- locate_us.html  (start) ----*/
#location_headings{
    float: left;
    margin-right: 10px;   
}
#locator_icon{
    height: 50px;
    width: 50px;
}
iframe{
    border: 0;
}
#location_table table, #location_table th, #location_table td{
    border: 2px black solid;  
}
#location_table th, #location_table td{
    padding: 20px;   
}
#location_table th{
    background-color: #b7528f;
    color: white;
}
#location_table td{
    background-color: #f0c1e5;
}
/*---- locate_us.html  (end) ----*/


/*---- fragrance.html, lipsticks.html  (start) ----*/
#product_cat h3{
    color: whitesmoke;
    background-color: #9c1046;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
/*---- fragrance.html, lipsticks.html  (end) ----*/


/*---- black_opium.html, libre.html  (start) ----*/
.content_opium{
    padding: 4px 40px;
}
.content_opium p{
    line-height: 130%;
    padding-bottom: 5px;
}
.content_libre{
    padding: 5px 70px;
}
.content_libre p{
    padding-top: 40px;
}
dt{
    padding: 12px;
    font-weight: bold;
    color:#700537;
    font-size: large;
    text-indent: 2px;
}
dd{
    text-align: left;
    padding-bottom: 15px;
}
#description_title{
    text-align: center;
    font-size: 1.25em;
    color: #9c1046;
}
.frag_table table,.frag_table td, .frag_table tr{
    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 10cm;
    height: 1cm;
    background-color: #6e1919;
    color: whitesmoke;
    border: solid;
    border-color: whitesmoke;
    border-collapse: collapse;
}
#float_left{
    float: left;
    margin: 0 3em 3em 0;
}
#clear_left{
    clear: left;
}
/*---- black_opium.html, libre.html  (end) ----*/

.font_colour{
    color:#700537;
    margin: auto;
}

/*---- pur_couture.html, slim_sheer.html  (start) ----*/
#lipstick_img{
    margin: 50px;
    border: none;
}
#text_justify{
    text-align: justify;
    margin-left: 50px;
    margin-right: 75px;
    line-height: 140%;
}
.padding{
    padding: 25px;
}
.shade a img{
    border-style: double;
    border-color: #693b45;
    border-width: 4px;
    height: 65px;
    width: 65px;
}
.shade a{
    padding: 0 30px;
}
.slim_shade div{
    padding: 0 20px 15px 70px;
}
.pur_shade div{
    padding: 0 5px 15px 30px;
}
.line{
    border-color: #fa43ae;
}
.description{
    padding: 15px 30px 15px 35px;
    line-height: 130%;
}
.description h4{
    padding-top: 15px;
}
#apply{
    padding: 0 61px;
}
/*---- pur_couture.html, slim_sheer.html  (end) ----*/